AmiamStore/AmiamStore/Connected Services/ServiceReference1/payWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ConfirmPay">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="holderName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="creditCardNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cvv" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="expirityDate" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="amountToCharge" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="list" type="tns:ArrayOfCharge" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCharge">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Charge" nillable="true" type="tns:Charge" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Charge">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CreditCardNumber" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="AmountToCharge" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="StoreName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ConfirmPayResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ConfirmPayResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProperCardDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="holderName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="creditCardNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cvv" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="expirityDate" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="amountToCharge" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProperCardDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ProperCardDetailsResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DiscountForMasterCardClients">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="creditCardNumber" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="amountToPay" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DiscountForMasterCardClientsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DiscountForMasterCardClientsResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClientHasEnoghMoney">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="holderName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="amountToPay" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClientHasEnoghMoneyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ClientHasEnoghMoneyResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DetailtsOfAllInvites">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="creditCardNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DetailtsOfAllInvitesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DetailtsOfAllInvitesResult" type="tns:ArrayOfCharge" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendPurchaseClearanceOnEmail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ToEmail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ToName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendPurchaseClearanceOnEmailResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ConfirmPaySoapIn">
    <wsdl:part name="parameters" element="tns:ConfirmPay" />
  </wsdl:message>
  <wsdl:message name="ConfirmPaySoapOut">
    <wsdl:part name="parameters" element="tns:ConfirmPayResponse" />
  </wsdl:message>
  <wsdl:message name="ProperCardDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:ProperCardDetails" />
  </wsdl:message>
  <wsdl:message name="ProperCardDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:ProperCardDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="DiscountForMasterCardClientsSoapIn">
    <wsdl:part name="parameters" element="tns:DiscountForMasterCardClients" />
  </wsdl:message>
  <wsdl:message name="DiscountForMasterCardClientsSoapOut">
    <wsdl:part name="parameters" element="tns:DiscountForMasterCardClientsResponse" />
  </wsdl:message>
  <wsdl:message name="ClientHasEnoghMoneySoapIn">
    <wsdl:part name="parameters" element="tns:ClientHasEnoghMoney" />
  </wsdl:message>
  <wsdl:message name="ClientHasEnoghMoneySoapOut">
    <wsdl:part name="parameters" element="tns:ClientHasEnoghMoneyResponse" />
  </wsdl:message>
  <wsdl:message name="DetailtsOfAllInvitesSoapIn">
    <wsdl:part name="parameters" element="tns:DetailtsOfAllInvites" />
  </wsdl:message>
  <wsdl:message name="DetailtsOfAllInvitesSoapOut">
    <wsdl:part name="parameters" element="tns:DetailtsOfAllInvitesResponse" />
  </wsdl:message>
  <wsdl:message name="SendPurchaseClearanceOnEmailSoapIn">
    <wsdl:part name="parameters" element="tns:SendPurchaseClearanceOnEmail" />
  </wsdl:message>
  <wsdl:message name="SendPurchaseClearanceOnEmailSoapOut">
    <wsdl:part name="parameters" element="tns:SendPurchaseClearanceOnEmailResponse" />
  </wsdl:message>
  <wsdl:portType name="payWebServiceSoap">
    <wsdl:operation name="ConfirmPay">
      <wsdl:input message="tns:ConfirmPaySoapIn" />
      <wsdl:output message="tns:ConfirmPaySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ProperCardDetails">
      <wsdl:input message="tns:ProperCardDetailsSoapIn" />
      <wsdl:output message="tns:ProperCardDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DiscountForMasterCardClients">
      <wsdl:input message="tns:DiscountForMasterCardClientsSoapIn" />
      <wsdl:output message="tns:DiscountForMasterCardClientsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ClientHasEnoghMoney">
      <wsdl:input message="tns:ClientHasEnoghMoneySoapIn" />
      <wsdl:output message="tns:ClientHasEnoghMoneySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DetailtsOfAllInvites">
      <wsdl:input message="tns:DetailtsOfAllInvitesSoapIn" />
      <wsdl:output message="tns:DetailtsOfAllInvitesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendPurchaseClearanceOnEmail">
      <wsdl:input message="tns:SendPurchaseClearanceOnEmailSoapIn" />
      <wsdl:output message="tns:SendPurchaseClearanceOnEmailSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="payWebServiceSoap" type="tns:payWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConfirmPay">
      <soap:operation soapAction="http://tempuri.org/ConfirmPay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProperCardDetails">
      <soap:operation soapAction="http://tempuri.org/ProperCardDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DiscountForMasterCardClients">
      <soap:operation soapAction="http://tempuri.org/DiscountForMasterCardClients" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClientHasEnoghMoney">
      <soap:operation soapAction="http://tempuri.org/ClientHasEnoghMoney" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DetailtsOfAllInvites">
      <soap:operation soapAction="http://tempuri.org/DetailtsOfAllInvites" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendPurchaseClearanceOnEmail">
      <soap:operation soapAction="http://tempuri.org/SendPurchaseClearanceOnEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="payWebServiceSoap12" type="tns:payWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConfirmPay">
      <soap12:operation soapAction="http://tempuri.org/ConfirmPay" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProperCardDetails">
      <soap12:operation soapAction="http://tempuri.org/ProperCardDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DiscountForMasterCardClients">
      <soap12:operation soapAction="http://tempuri.org/DiscountForMasterCardClients" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClientHasEnoghMoney">
      <soap12:operation soapAction="http://tempuri.org/ClientHasEnoghMoney" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DetailtsOfAllInvites">
      <soap12:operation soapAction="http://tempuri.org/DetailtsOfAllInvites" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendPurchaseClearanceOnEmail">
      <soap12:operation soapAction="http://tempuri.org/SendPurchaseClearanceOnEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="payWebService">
    <wsdl:port name="payWebServiceSoap" binding="tns:payWebServiceSoap">
      <soap:address location="http://localhost:3095/payWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="payWebServiceSoap12" binding="tns:payWebServiceSoap12">
      <soap12:address location="http://localhost:3095/payWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>